[user]
	name = harold.duan
	email = duanhan0920@hotmail.com
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[alias]
	g = git
	lg = log
	xlg = lg --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	st = status
   	pl = pull
	ps = push
	ck = checkout
	ckb = checkout -b
	br = branch
	bra = branch -a
	brd = branch -d
	brD = branch -D
	mg = merge
	nmg = merge --no-commit
	rt = remote
	# xlog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	# nmerge = merge --no-commit
[commit]
	gpgsign = true
